*{
    margin: 0;
    padding: 0;
}

:root{
    --red: #E83E4D;
    --dark-blue: #0B2341;
    --red: #E1E1E1;
    --blue: #264B80;
}

/* Container Class */
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* Row Class */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center; /* H1 etiketini yatay olarak ortalar */
}