* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--gray);
  box-sizing: border-box;
}

:root {
  --dark-blue: #0b2341;
  --gray: #cfcfcf;
  --white: #ffffff;
  --red: #e83e4d; /* Bu satırı kaldırarak sadece bir kez --red tanımlayın */
  --blue: #264b80;
}

/* Container Class */
.container-h {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Row Class */
.row-h {
  /* ".row" yerine ".row-h" */
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center; /* H1 etiketini yatay olarak ortalar */
}

/* header */

/*! slider-start --------------------------------------*/

/* Carousel boyutlarını ayarla */
#carouselExampleSlidesOnly {
  position: relative;
  width: 100%; /* Örnek genişlik */
  height: 565px; /* Örnek yükseklik */
}

/* Carousel içeriği */
.carousel-inner {
  width: 100%;
  height: 100%;
}

/* Carousel içeriği resimleri */
.carousel-item img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Resimleri kesmeden boyutlandır */
}

.slider-text {
  position: absolute;
  transform: translate(0,-70px);
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.753) 51%,
    rgba(255, 255, 255, 0.10416666666666663) 100%
  );
  position: absolute;
  z-index: 1;
  color: #e83e4d;
  height: 50px;
  height: 40%;
  width: 45%;
  transition: all 0.5s;
}

.slider-text h1,
p {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
}

.slider-text h1 {
  font-size: 30;
  font-weight: 900;
  color: #0b2341;
}

.slider-text p {
  font-size: 20px;
  font-weight: 600;
  left: 0px;
}

.btn-slider {
  background-color: var(--red);
  border: none;
  margin: 50px 0 0 45px;
  padding: 10px 25px;
  width: 260px;
  color: var(--white);
  transition: all 0.5s;
}

.btn-slider:hover {
  background-color: var(--dark-blue);
  box-shadow: rgba(255, 255, 255, 0.649) 0px 10px 50px;
}

/*! slider-start --------------------------------------*/

.layer1 {
  margin: 0 auto;
  background-color: var(--red);
  min-height: 450px;
  /* min-width: 300px; */
  width: 25%;
  padding: 0px;
  transition: all 0.5s;
  transform: translate(0, -100px);
}

.layer1:hover {
  cursor: pointer;
  transform: translate(0px, -50px);
}

.layer2 img {
  height: auto;
  max-height: 450px;
  width: auto;
  border: 3px solid var(--white);
  position: absolute;
}

.cart-1 img {
  transform: translate(20px, 20px);
  -webkit-box-shadow: -10px -10px 0px 0px rgba(0, 0, 0, 0.384);
  -moz-box-shadow: -10px -10px 0px 0px rgba(0, 0, 0, 0.384);
  box-shadow: -10px -10px 0px 0px rgba(0, 0, 0, 0.384);
}
.cart-2 img {
  transform: translate(-10px, 20px);
  -webkit-box-shadow: 0px -10px 0px 0px rgba(0, 0, 0, 0.384);
  -moz-box-shadow: 0px -10px 0px 0px rgba(0, 0, 0, 0.384);
  box-shadow: 0px -10px 0px 0px rgba(0, 0, 0, 0.384);
}
.cart-3 img {
  transform: translate(-20px, 20px);
  -webkit-box-shadow: 10px -10px 0px 0px rgba(0, 0, 0, 0.384);
  -moz-box-shadow: 10px -10px 0px 0px rgba(0, 0, 0, 0.384);
  box-shadow: 10px -10px 0px 0px rgba(0, 0, 0, 0.384);
}

.mini-cart {
  align-items: center;
  justify-content: center;
  top: 400px;
  left: 50px;
  height: 100px;
  width: 220px;
  position: relative;
  background-color: var(--white);
  transform: translate(5%);
}

.mini-cart i {
  margin-top: 10px;
  font-size: 45px;
  display: inline-block;
  width: 100%;

  text-align: center;
}
.mini-cart h2 {
  display: inline-block;
  width: 100%;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
}

.title-1 {
  text-align: center;
  margin-top: 125px;
  font-weight: 200;
  margin-bottom: 50px;
}

.title-1 h3 {
  font-weight: 400;
}
.title-1 a {
  color: var(--red);
}

.z-1 {
  position: relative;
  z-index: -50;
}

.bg-ing {
  width: 100%;
  height: 300px;
  background-image: url("../img/görsel.png");
  background-size: cover;
  background-position: center;
}

.bg-ing img {
  width: 100%;
  height: 400px;
}

/* cart-2-------------------------------------------------------------------- */
.cart-2-title {
  align-items: center;
}
.cart-2-title {
  padding-top: 70px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Yatayda ortalar */
  align-items: center; /* Dikeyde ortalar */
  text-align: center;
}

.cart-2-title h1 {
  color: var(--red);
  text-align: center;
}

.cart-2-title p {
  font-weight: 500;
  padding: 0 20%;
}

#center-row {
  justify-content: center;
}

.cart-2-box {
  margin-top: 25px;
  height: 250px;
  width: 250px;
  padding: 50px;
  margin: 0 20px;
  background-color: var(--gray);
  justify-content: center;
  transition: all 0.5s;
}

.cart-2-box:hover {
  border-radius: 25%;
}

.cart-2-box i {
  color: var(--red);
  width: 100%;
  text-align: center;
  font-size: 80px;
}

.cart-2-box h2 {
  font-weight: 800;
}

.cart-2-box h2 {
  color: var(--dark-blue);
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin: 0;
}
.cart-2-box p {
  color: var(--dark-blue);
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin: 0;
}

.cart-2-box-btn {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-2-box-btn button {
  margin-top: 50px;
  font-weight: 700;
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 18px 100px;
  transition: all 0.5s;
}

.cart-2-box-btn button:hover {
  background-color: var(--red);
}

/* cart-2-------------------------------------------------------------------- */
/* cart-3-------------------------------------------------------------------- */
.carts-4 {
  margin: 30px auto;
  text-align: center;
  background-color: var(--white);
  height: 25rem;
  width: 18rem;
  display: flex;
  position: relative;
  border-radius: 12%;
  justify-content: center;
  -webkit-box-shadow: -30px 48px 38px -11px rgba(184, 184, 184, 0.95);
  -moz-box-shadow: -30px 48px 38px -11px rgba(184, 184, 184, 0.95);
  box-shadow: -30px 48px 38px -11px rgba(184, 184, 184, 0.95);
  transition: all 0.5s;
}

#carts-row {
  column-gap: 25px;
}

#cart-3title {
  margin-top: 40px;
  display: flex;
  text-align: center;
}

#cart-3title h1 {
  font-weight: 900;
  color: var(--blue);
}

#cart-3title h3 {
  font-size: 40px;
  color: var(--blue);
  margin-bottom: 40px;
  font-weight: 700;
}

.carts-4:hover {
  transform: translate(0, -50px);
}

.carts-4 img {
  top: -20px;
  position: absolute;
  width: 125px;
}

.carts-4 h1 {
  position: absolute;
  top: -15px;
  color: var(--white);
}

.carts-4 i {
  top: 85px;
  position: absolute;
  color: #264b80;
  font-size: 100px;
}

.carts-4 h3 {
  position: absolute;
  top: 190px;
  font-size: 20px;
  font-weight: 900;
  color: var(--blue);
  padding-bottom: 9 px;
  border-bottom: 3px solid var(--blue);
}
#carts-4-p {
  padding: 10px 20px;
  position: absolute;
  top: 230px;
  color: var(--blue);
  margin: 8px 0px;
}

/* ! */
.title-b {
  margin: 30px 0px;
  height: 375px;
  background-color: #264b80;
  text-align: center;
}
#title-h {
  margin-top: 25px;
  color: var(--white);
  padding-top: 50px;
  font-weight: 900;
}

.title-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 375px;
  width: 100%;
  margin: 30px 0;
  background-image: url("../img/görsel.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

#title-h2 {
  color: var(--white);
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 900;
}
.title-c h3 {
  font-size: 50px;
}

.title-b button {
  color: var(--white);
  background-color: var(--red);
  border: none;
  padding: 10px 35px;
  margin-top: 60px;
  transition: all 0.5s;
}

.title-b button:hover {
  color: var(--red);
  background-color: var(--gray);
}

#title-b {
  color: var(--white);
  padding: 0 135px;
}
/* ! */

/* cart-3-------------------------------------------------------------------- */
/* cart-4-------------------------------------------------------------------- */
#carts-3 {
  background-color: #e5eaf0;
}
.carts-3 {
  text-align: center;
}

.carts-3 h1 {
  color: var(--blue);
  margin-top: 50px;
  font-weight: 800;
}
.carts-3 h3 {
  color: var(--blue);
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

#little-title {
  padding: 0 70px;
  font-weight: 400;
  font-size: 20px;
}

.center-custom {
  justify-content: center;
}

.cart-box-3 {
  margin: auto;
  justify-content: center;
  margin: 20px 20px;
  background-color: var(--blue);
  height: 300px;
  width: 300px;
  -webkit-box-shadow: 10px -10px 0px -1px rgba(161, 161, 161, 1);
  -moz-box-shadow: 10px -10px 0px -1px rgba(161, 161, 161, 1);
  box-shadow: 10px -10px 0px -1px rgba(161, 161, 161, 1);
  transition: all 0.5s;
}

.cart-box-3:hover {
  background-color: var(--red);
  transform: translate(0px, -15px);
}

.cart-box-3 h3 {
  color: var(--white);
  font-weight: 700;
}

.cart-box-3 i {
  padding-top: 60px;
  font-size: 100px;
  color: var(--white);
}
/* cart-4-------------------------------------------------------------------- */

/* ? Responsive-start ***********************************************************************/
@media (min-width: 1440px) {
  .slider-text {
    top: 40%;
  }
}
@media (max-width: 1024px) {
  .slider-text {
    top: 35%;
  }
  .btn-slider {
    display: none;
  }
}
@media (max-width: 768px) {
  .layer2 {
    justify-content: center;
  }
  .cart-1 img {
    transform: translate(0px, 0px);
    box-shadow: none;
  }
  .cart-2 img {
    transform: translate(0px, 0px);
    box-shadow: none;
  }
  .cart-3 img {
    transform: translate(0px, 0px);
    box-shadow: none;
  }
  .slider-text {
    top: 20%;
  }
  .layer1 {
    display: block;
    height: 250px;
    width: 218px;
  }

  .layer1 img {
    height: 250px;
  }
}
@media (max-width: 320px) {
  .slider-text {
    top: 0%;
  }
}

/* ? Responsive-end ***********************************************************************/
