* {
    margin: 0;
    padding: 0;
}

:root {
    --red: #E83E4D;
    --dark-blue: #0B2341;
    --red: #E1E1E1; /* Bu satırı kaldırarak sadece bir kez --red tanımlayın */
    --blue: #264B80;
}

/* Container Class */
.container-h { /* ".container" yerine ".container-h" */
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* Row Class */
.row-h { /* ".row" yerine ".row-h" */
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center; /* H1 etiketini yatay olarak ortalar */
}


/*! slider-start --------------------------------------*/